.book-form {
    allign: center;
    background: #C9C9C9;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.border-table {
    width: 100%;
    position: center;
    align: middle;
    border: 2px;
    border-bottom-color: gray;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 5px;
}

.margin-top {
    margin-top: 5px;
}

.margin-bottom {
    margin-bottom: 5px;
}

.table tr, td{
    allign: center;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.radius-corner {
    border-collapse: collapse;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    overflow: hidden;
}

.special-font {
    font-family: "mry_KacstQurn";
}

.checkbox-green {
    visibility: visible;
    border-radius: 4px;
    border-color: #28a745;
    background: #28a745;
}