{% extends "base.html.twig" %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

<div class="example-wrapper">

    <table class="col-12 border-table" align="center" >
        <tr>
            <td>
                <div class="col-10 book-form radius-corner special-font">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'action': path('add_book'), 'method': 'POST'}) }}
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                    {{ form_end(form) }}
                </div>
            </td>
        </tr>
    </table>

</div>


{% endblock %}