{% extends 'base.html.twig' %}

{% block title %}Book Panel{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h3>
        Book list <small>| simple manager</small>
        <a href="{{ path('add_book') }}"> <button type="button" class="btn btn-outline-primary">New book</button> </a>
        <a href="{{ path('create_book_list') }}"><button type="button" id='createBookList' class="btn btn-outline-success">New Booklist</button></a>
    </h3>

    <table class="border-table" border="1px" align="center">
        <tr align="center">
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                ISBN
            </th>
            <th>
                Cover Page
            </th>
            <th></th>
        </tr>

        {% for book in books %}
            <tr>
                <td align="center">{{ book.title }}</td>
                <td align="center">{{ book.author }}</td>
                <td align="center">{{ book.isbn }}</td>
                <td align="center">{{ book.cover }}</td>
                <td align="center">
                    <span class="checkbox-green" ><input type="checkbox" id="bookList" name="horns"></span>
                    <a href="{{ path('edit_book', {'id': book.id }) }}"><i class="far fa-edit margin-left"></i></a>
                    <a href="{{ path('delete_book', {'id': book.id })}} "><i class="far fa-trash-alt margin-left"></i></a>
                </td>
            </tr>

        {% endfor %}

    </table>
</div>



{% endblock %}
