{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'action': path('generate_file'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}
